<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
		
			<h1>Smart Contact Manager</h1>
			<p>This website allows you to efficiently manage your contacts!!</p>
			<button class="btn bg-primary btn-lg text-white">Start</button>
		</div>
	</section>
</body>
</html>