<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>signup Page</title>
</head>
<body>
	<section>
	
		<div class="container">
			<div class="row">
			
				<div class="col-md-8 offset-md-2">
					
						<div class="my-card mt-3">
						
			<!-- 			Conditional Alert Message will be shown only if session has message .. and after showing ; message is removed from session 	-->
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
								<p class="text-center" th:text="${session.message.content}" ></p>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
			<!-- 			Alert Message Ends -->
			
			
						<h1 class="text-center">SignUp!!</h1>	
							<form novalidate th:action="@{/do_register}" method="post" th:object="${user}">

								<div class="form-group">
									<label for="name_field">Your Name</label>
									 <input
									 	name="name"
										type="text" 
										class="form-control"
										th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}" 
										id="name_field"
										placeholder="Enter here" 
										required
										th:value="${user.name}" />

										<div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
											
										</div>
							</div>
								
								<div class="form-group">
									<label for="email_field">Email</label>
									 <input
									 	name="email"
										type="email" 
										class="form-control" 
										th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}"
										id="email_field"
										placeholder="Enter here" 
										required
										th:value="${user.email}" />
										
										<div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}">
											
										</div> 
								</div>
								
								<div class="form-group">
									<label for="password_field">Password</label>
									 <input
									 	name="password"
										type="password" 
										class="form-control" 
										th:classappend="${#fields.hasErrors('password') ? 'is-invalid':''}"
										id="password_field"
										placeholder="Enter here" required /> 
										
										<div class="invalid-feedback" th:each="e : ${#fields.errors('password')}" th:text="${e}">
											
										</div> 
										
								</div>
								
								<div class="form-group">								
									<textarea name="about" th:text="${user.about}" id=""  rows="10" class="form-control" th:classappend="${#fields.hasErrors('about') ? 'is-invalid':''}" placeholder="Write Something About Yourself!!"></textarea>
									
									<div class="invalid-feedback" th:each="e : ${#fields.errors('about')}" th:text="${e}">
											
									</div> 
								</div>
								
								<div class="form-group form-check text-center">
									<input type="checkbox"
											name="agreement"
											class="form-check-input"
											id="agreement"
											
									 		/>
									 <label for="agreement">Accept Terms and Conditions</label>
								
								
								</div>
								
								<div class="container text-center">
									<button type="submit" class="btn bg-primary text-white">Submit</button>
									<button type="reset" class="btn btn-warning text-white">Reset</button>					
								</div>
							
						</form>
							
							
						</div>
				</div>
				
			</div>	
		</div>
	
	</section>
</body>
</html>